# Sistema Experto para el Apoyo a la Toma de Decisiones

## <font color='green'>Actividad 1</font>

En este proyecto construiremos un sistema experto basado en encadenamiento directo utilizando las librerías numpy y pandas.

A continuación se entregan una serie de listas, correspondientes a una evaluación que se realizó a una grupo de jugador@s, para definir quienes formarían parte del equipo.

Durante las pruebas se midieron las siguientes variables:

* Cantidad de encestadas para un total de 25 intentos
* Estatura del candidato (en metros)
* Peso del candidato (en kilogramos)
* Velocidad, evaluada de acuerdo a la marca en segundos en la prueba de 100 metros planos

```
nombre = ['Olivia', 'Daniel', 'Juan', 'Germán', 'Eduardo', 'Alejandra', 'Julio', 
          'Edgardo', 'Angélica', 'Usaína']
encestadas = [12, 17, 25, np.nan, 25, 19, 13, np.nan, 18, 25]
estatura = [1.70, 1.90, 1.85, 2.13, 1.78, 2.03, 1.65, 1.79, 1.93, 1.95]
peso = [81.5, 92.0, 97.7, 115.2, 80, 97.3, 58, 74.5, 88, 94.0]
velocidad = [14.9, 12.8, 13.6, 10.7, np.nan, 12.8, 13, 12.5, 11.9, 9.6]
```

Se pide lo siguiente:

1. Utilizando la información entregada, crear un dataframe llamado **candidatos**.
2. Realizar la analítica descriptiva de la muestra (media, desviaciones y otros estadísticos relevantes).
3. Crear un nuevo dataframe llamado **buen encestador** que incluya a tod@s l@s candidat@s que hayan logrado más de 17 encestadas en sus 25 intentos.
4. ¿Qué peso tiene el tercer candidato?, ¿Qué peso tiene Julio y Usaína?
5. Genere un nuevo dataframe llamado **sin datos** que incluya l@s candidat@s que en alguna de sus variables no tienen datos.
6. En el dataframe candidatos, reemplazar los valores faltantes por el valor promedio de la variable.
7. En el dataframe candidatos, crear una nueva columna llamadas *IMC* que corresponda al índice de masa corporal de cada candidat@.

In [1]:
#Soloución
#1
import pandas as pd
import numpy as np
nombre = ['Olivia', 'Daniel', 'Juan', 'Germán', 'Eduardo', 'Alejandra', 'Julio', 
          'Edgardo', 'Angélica', 'Usaína']
encestadas = [12, 17, 25, np.nan, 25, 19, 13, np.nan, 18, 25]
estatura = [1.70, 1.90, 1.85, 2.13, 1.78, 2.03, 1.65, 1.79, 1.93, 1.95]
peso = [81.5, 92.0, 97.7, 115.2, 80, 97.3, 58, 74.5, 88, 94.0]
velocidad = [14.9, 12.8, 13.6, 10.7, np.nan, 12.8, 13, 12.5, 11.9, 9.6]
candidatos = pd.DataFrame({"Encestadas":encestadas,"Estatura":estatura,"Peso":peso,"Velocidad":velocidad},index=nombre)
candidatos

           Encestadas  Estatura   Peso  Velocidad
Olivia           12.0      1.70   81.5       14.9
Daniel           17.0      1.90   92.0       12.8
Juan             25.0      1.85   97.7       13.6
Germán            NaN      2.13  115.2       10.7
Eduardo          25.0      1.78   80.0        NaN
Alejandra        19.0      2.03   97.3       12.8
Julio            13.0      1.65   58.0       13.0
Edgardo           NaN      1.79   74.5       12.5
Angélica         18.0      1.93   88.0       11.9
Usaína           25.0      1.95   94.0        9.6

In [2]:
#2
candidatos.describe()
#candidatos.describe().loc["mean"]

       Encestadas   Estatura        Peso  Velocidad
count    8.000000  10.000000   10.000000   9.000000
mean    19.250000   1.871000   87.820000  12.422222
std      5.311712   0.147682   15.494071   1.555456
min     12.000000   1.650000   58.000000   9.600000
25%     16.000000   1.782500   80.375000  11.900000
50%     18.500000   1.875000   90.000000  12.800000
75%     25.000000   1.945000   96.475000  13.000000
max     25.000000   2.130000  115.200000  14.900000

In [3]:
#3
buen_encestador = candidatos.loc[candidatos.Encestadas>17]
#
buen_encestador

           Encestadas  Estatura  Peso  Velocidad
Juan             25.0      1.85  97.7       13.6
Eduardo          25.0      1.78  80.0        NaN
Alejandra        19.0      2.03  97.3       12.8
Angélica         18.0      1.93  88.0       11.9
Usaína           25.0      1.95  94.0        9.6

In [4]:
#3
buen_encestador = candidatos[candidatos.Encestadas>17]
#
buen_encestador

           Encestadas  Estatura  Peso  Velocidad
Juan             25.0      1.85  97.7       13.6
Eduardo          25.0      1.78  80.0        NaN
Alejandra        19.0      2.03  97.3       12.8
Angélica         18.0      1.93  88.0       11.9
Usaína           25.0      1.95  94.0        9.6

In [5]:
#4
print(candidatos.iloc[2]["Peso"])
print(candidatos.loc["Julio"]["Peso"])
print(candidatos.loc["Usaína"]["Peso"])

97.7
58.0
94.0

In [6]:
#5
sin_datos = candidatos[candidatos.isna().any(axis=1)]
#sin_datos = candidatos[candidatos.isnull().any(axis=1)]
sin_datos

         Encestadas  Estatura   Peso  Velocidad
Germán          NaN      2.13  115.2       10.7
Eduardo        25.0      1.78   80.0        NaN
Edgardo         NaN      1.79   74.5       12.5

In [7]:
#5
#sin_datos = candidatos[candidatos.isna().any(axis=1)]
sin_datos = candidatos[candidatos.isnull().any(axis=1)]
sin_datos

         Encestadas  Estatura   Peso  Velocidad
Germán          NaN      2.13  115.2       10.7
Eduardo        25.0      1.78   80.0        NaN
Edgardo         NaN      1.79   74.5       12.5

In [8]:
#6
candidatos = candidatos.fillna(candidatos.mean())
candidatos
#Importante, los NaN no siempre se pueden llenar con promedio. Por ejemplo en una data de distancia cubierta (radio) por una ambulandica
#un dato NaN puede significar que la ambulancia no llega a tal lugar y por lo tanto rellenar con el promedio es una mala interpretación

           Encestadas  Estatura   Peso  Velocidad
Olivia          12.00      1.70   81.5  14.900000
Daniel          17.00      1.90   92.0  12.800000
Juan            25.00      1.85   97.7  13.600000
Germán          19.25      2.13  115.2  10.700000
Eduardo         25.00      1.78   80.0  12.422222
Alejandra       19.00      2.03   97.3  12.800000
Julio           13.00      1.65   58.0  13.000000
Edgardo         19.25      1.79   74.5  12.500000
Angélica        18.00      1.93   88.0  11.900000
Usaína          25.00      1.95   94.0   9.600000

In [9]:
candidatos.mean() #aplica por cada atributo

Encestadas    19.250000
Estatura       1.871000
Peso          87.820000
Velocidad     12.422222
dtype: float64

In [10]:
#7
candidatos['IMC'] = candidatos['Peso']/candidatos['Estatura']**2
candidatos

           Encestadas  Estatura   Peso  Velocidad        IMC
Olivia          12.00      1.70   81.5  14.900000  28.200692
Daniel          17.00      1.90   92.0  12.800000  25.484765
Juan            25.00      1.85   97.7  13.600000  28.546384
Germán          19.25      2.13  115.2  10.700000  25.391787
Eduardo         25.00      1.78   80.0  12.422222  25.249337
Alejandra       19.00      2.03   97.3  12.800000  23.611347
Julio           13.00      1.65   58.0  13.000000  21.303949
Edgardo         19.25      1.79   74.5  12.500000  23.251459
Angélica        18.00      1.93   88.0  11.900000  23.624795
Usaína          25.00      1.95   94.0   9.600000  24.720579

<font color='green'>Fin Actividad 1</font>

## <font color='green'>Actividad 2</font>

Para evaluar si l@s candidat@s formarán parte del equipo, se implementó un **Sistema Experto para el Apoyo a la Toma de Decisiones Basado en Lógica Difusa**. Este sistema utiliza una serie de reglas definidas por el entrenador para preseleccionar a sus jugador@s.

**Regla 1:**

Si el candidato es **buen encestador** y **es alto**,
entonces **es adecuado para el equipo con certeza 0.75**. Tomar el mínimo de ambas gráficas y multiplicar por 0.75

**Regla 2:**

Si el candidato es **buen encestador** y **tiene buen sprint**,
entonces **es adecuado para el equipo con certeza 0.9**.
	
**Regla 3:**

Si el candidato **es alto** y **tiene buen sprint**,
entonces **es adecuado para el equipo con certeza 0.7**.


Suponga que:

* las premisas en cada regla se combinan utilizando $min$,
* el valor del consecuente de cada regla es el valor anterior (combinación de premisas) multiplicado por el valor de certeza de la regla, y 
* el resultado del conjunto de reglas se obtienen combinando los valores del consecuente de todas las reglas gatilladas utilizando $max$.

Los conceptos difusos que constituyen las premisas de las reglas se definen en forma de trapezoides de altura 1 (ver las figuras en cada caso), donde la ordenada es el grado de pertenencia, y la abscisa corresponde a la medida en el universo real en que se basa la generación del concepto difuso:

i). **"Buen encestador"**: Se mide en términos del número de aciertos sobre un total de 25 tiros libres: (12/25, 17/25, 25/25, 25/25).

<img src='https://drive.google.com/uc?export=view&id=16bQXOIAjrjlYaaA55G_nbtz4rSl_6PCR' width="500" align="center" style="margin-right: 20px">

ii). **"Alto"**: Es un juicio a partir de la estatura en cm del candidato: (170, 190, 230, 230).

<img src='https://drive.google.com/uc?export=view&id=1026XeaRpK99iu1NC1MHCCzTWTHh3D1Ti' width="500" align="center" style="margin-right: 20px">

iii). **"Buen sprint"**: Se evalúa de acuerdo a la marca en segundos en la prueba de 100 m planos: (0, 0, 11, 15).

<img src='https://drive.google.com/uc?export=view&id=1_KQz04yyLIXtCZRXz09C5yfBulfN2NHZ' width="500" align="center" style="margin-right: 20px">

El sistema debe entregar como resultado el valor de certeza de que el candidato sea adecuado para el equipo. Si ninguna regla es gatillada, el sistema debe informar asociar un grado de certeza de 0.0.

1. Implemente en python una función que permita determinar el grado de certeza de que un candidat@ sea elegible para el equipo, mediante el sistema experto descrito anteriormente.

2. Evalúe el dataframe candidatos con el programa que ha implementado, agregue una columna al dataframe llamada **"certeza de selección"**, en que incluya el valor entregado por su función.

3. Agregue una nueva columna al dataframe llamada **"seleccionados"** en que se indique l@s candidat@s que han sido seleccionados ("Si"/"No"). Utilice como umbral de selección aquell@s jugador@s con una certeza de selección mayor a 0.7.

In [11]:
import numpy as np
import pandas as pd

In [12]:
#Solución
#la regla debe ceñirse por la pendiente de la recta o bien explícitamente, pero la idea es aplicar pendiente
#Solución
# y = mx + c
#(17,1) (12,0)
# 1-0/17-12 m=1/5
# 0 = 1/5*12 + c
# c = -12/5

def encestador(encestadas):
    if encestadas <= 12:
        pertenencia = 0
    elif (encestadas > 12) & (encestadas < 17):
        pertenencia = 1/5*encestadas - 12/5  #ecuación de la recta
    else:
        pertenencia = 1
    return pertenencia

def alto(altura):
    if altura <= 1.7:
        pertenencia = 0
    elif (altura > 1.7) & (altura < 1.9):
        pertenencia = 1/0.2*altura - 1.7/0.2
    else:
        pertenencia = 1
    return pertenencia

def sprint(sprints):
    if sprints >= 15:
        pertenencia = 0
    elif (sprints > 11) & (sprints < 15):
        pertenencia = -1/4*sprints + 15/4
    else:
        pertenencia = 1
    return pertenencia

In [13]:
s_encestado= candidatos['Encestadas'].apply(encestador)
s_altura = candidatos['Estatura'].apply(alto)
s_velocidad = candidatos['Velocidad'].apply(sprint)
df = pd.concat([s_encestado,s_altura,s_velocidad], axis = 1)

In [14]:
candidatos

           Encestadas  Estatura   Peso  Velocidad        IMC
Olivia          12.00      1.70   81.5  14.900000  28.200692
Daniel          17.00      1.90   92.0  12.800000  25.484765
Juan            25.00      1.85   97.7  13.600000  28.546384
Germán          19.25      2.13  115.2  10.700000  25.391787
Eduardo         25.00      1.78   80.0  12.422222  25.249337
Alejandra       19.00      2.03   97.3  12.800000  23.611347
Julio           13.00      1.65   58.0  13.000000  21.303949
Edgardo         19.25      1.79   74.5  12.500000  23.251459
Angélica        18.00      1.93   88.0  11.900000  23.624795
Usaína          25.00      1.95   94.0   9.600000  24.720579

In [15]:
df

           Encestadas  Estatura  Velocidad
Olivia            0.0      0.00   0.025000
Daniel            1.0      1.00   0.550000
Juan              1.0      0.75   0.350000
Germán            1.0      1.00   1.000000
Eduardo           1.0      0.40   0.644444
Alejandra         1.0      1.00   0.550000
Julio             0.2      0.00   0.500000
Edgardo           1.0      0.45   0.625000
Angélica          1.0      1.00   0.775000
Usaína            1.0      1.00   1.000000

In [16]:
df_perte = pd.concat([df[['Encestadas','Estatura']].min(axis=1)*0.75,df[['Encestadas','Velocidad']].min(axis=1)*0.9,df[['Velocidad','Estatura']].min(axis=1)*0.7],axis =1)
candidatos['pertenencia'] = df_perte.max(axis=1)
candidatos['seleccionados'] = candidatos['pertenencia'].apply(lambda x: 'Si' if x > 0.7 else 'No')
candidatos

,Encestadas,Estatura,Peso,Velocidad,IMC,pertenencia,seleccionados
Olivia,12.00,1.70,81.5,14.900000,28.200692,0.0000,No
Daniel,17.00,1.90,92.0,12.800000,25.484765,0.7500,Si
Juan,25.00,1.85,97.7,13.600000,28.546384,0.5625,No
Germán,19.25,2.13,115.2,10.700000,25.391787,0.9000,Si
Eduardo,25.00,1.78,80.0,12.422222,25.249337,0.5800,No
Alejandra,19.00,2.03,97.3,12.800000,23.611347,0.7500,Si
Julio,13.00,1.65,58.0,13.000000,21.303949,0.1800,No
Edgardo,19.25,1.79,74.5,12.500000,23.251459,0.5625,No
Angélica,18.00,1.93,88.0,11.900000,23.624795,0.7500,Si
Usaína,25.00,1.95,94.0,9.600000,24.720579,0.9000,Si

In [17]:
#Solución v2

#1
def elegible (fila):
  encesta = 0
  altura = 0
  sprint = 0
  if fila[0] >= 12 and fila[0] < 17:
    encesta = -2.4+fila[0]*0.2
  elif fila[0] >= 17:
    encesta=1
  if fila[1] >= 1.7 and fila[1] < 1.9:
    altura = -8.5+fila[1]*5
  elif fila[1] >= 1.9:
    altura=1
  if fila[3] >= 11 and fila[3] < 15:
    sprint = 3.75-fila[3]*0.25
  elif fila[3] <= 11:
    sprint=1
  return max(min(encesta,altura)*0.75,min(encesta,sprint)*0.9,min(altura,sprint)*0.7)

#2
candidatos["Certeza de selección"]=""
for i in candidatos.index:
  candidatos.loc[i,"Certeza de selección"]=elegible(list(candidatos.loc[i]))
print(candidatos)

#3
candidatos["Seleccionados"]="No"
for i in candidatos.index:
  if candidatos.loc[i,"Certeza de selección"]>0.7:
    candidatos.loc[i,"Seleccionados"]="Sí"
print(candidatos)
candidatos['Seleccionados 2'] = np.where(candidatos['Certeza de selección']>0.7, 'Sí', 'No')
print(candidatos)

           Encestadas  Estatura   Peso  Velocidad        IMC  pertenencia  \
Olivia          12.00      1.70   81.5  14.900000  28.200692       0.0000
Daniel          17.00      1.90   92.0  12.800000  25.484765       0.7500
Juan            25.00      1.85   97.7  13.600000  28.546384       0.5625
Germán          19.25      2.13  115.2  10.700000  25.391787       0.9000
Eduardo         25.00      1.78   80.0  12.422222  25.249337       0.5800
Alejandra       19.00      2.03   97.3  12.800000  23.611347       0.7500
Julio           13.00      1.65   58.0  13.000000  21.303949       0.1800
Edgardo         19.25      1.79   74.5  12.500000  23.251459       0.5625
Angélica        18.00      1.93   88.0  11.900000  23.624795       0.7500
Usaína          25.00      1.95   94.0   9.600000  24.720579       0.9000

          seleccionados Certeza de selección
Olivia               No                  0.0
Daniel               Si                 0.75
Juan                 No               0.5625
Germán               Si                  0.9
Eduardo              No                 0.58
Alejandra            Si                 0.75
Julio                No                 0.18
Edgardo              No               0.5625
Angélica             Si                 0.75
Usaína               Si                  0.9
           Encestadas  Estatura   Peso  Velocidad        IMC  pertenencia  \
Olivia          12.00      1.70   81.5  14.900000  28.200692       0.0000
Daniel          17.00      1.90   92.0  12.800000  25.484765       0.7500
Juan            25.00      1.85   97.7  13.600000  28.546384       0.5625
Germán          19.25      2.13  115.2  10.700000  25.391787       0.9000
Eduardo         25.00      1.78   80.0  12.422222  25.249337       0.5800
Alejandra       19.00      2.03   97.3  12.800000  23.611347       0.7500
Julio           13.00      1.65   58.0  13.000000  21.303949       0.1800
Edgardo         19.25      1.79   74.5  12.500000  23.251459       0.5625
Angélica        18.00      1.93   88.0  11.900000  23.624795       0.7500
Usaína          25.00      1.95   94.0   9.600000  24.720579       0.9000

          seleccionados Certeza de selección Seleccionados
Olivia               No                  0.0            No
Daniel               Si                 0.75            Sí
Juan                 No               0.5625            No
Germán               Si                  0.9            Sí
Eduardo              No                 0.58            No
Alejandra            Si                 0.75            Sí
Julio                No                 0.18            No
Edgardo              No               0.5625            No
Angélica             Si                 0.75            Sí
Usaína               Si                  0.9            Sí
           Encestadas  Estatura   Peso  Velocidad        IMC  pertenencia  \
Olivia          12.00      1.70   81.5  14.900000  28.200692       0.0000
Daniel          17.00      1.90   92.0  12.800000  25.484765       0.7500
Juan            25.00      1.85   97.7  13.600000  28.546384       0.5625
Germán          19.25      2.13  115.2  10.700000  25.391787       0.9000
Eduardo         25.00      1.78   80.0  12.422222  25.249337       0.5800
Alejandra       19.00      2.03   97.3  12.800000  23.611347       0.7500
Julio           13.00      1.65   58.0  13.000000  21.303949       0.1800
Edgardo         19.25      1.79   74.5  12.500000  23.251459       0.5625
Angélica        18.00      1.93   88.0  11.900000  23.624795       0.7500
Usaína          25.00      1.95   94.0   9.600000  24.720579       0.9000

          seleccionados Certeza de selección Seleccionados Seleccionados 2
Olivia               No                  0.0            No              No
Daniel               Si                 0.75            Sí              Sí
Juan                 No               0.5625            No              No
Germán               Si                  0.9            Sí              Sí
Eduardo              No                 0.58            No              No
Alejandra            Si                 0.75            Sí              Sí
Julio                No                 0.18            No              No
Edgardo              No               0.5625            No              No
Angélica             Si                 0.75            Sí              Sí
Usaína               Si                  0.9            Sí              Sí

<font color='green'>Fin Actividad 2</font>